input:checked + label {
  font-weight: bold;
}

td[data-main=true] {
  font-weight: bold;
}

.table>tbody>tr>td {
  vertical-align: inherit;
}

label {
  top: 1px;
  vertical-align: super;
  padding-left: 0;
}

#mainOnly {
  display: inline-block;

  width: 17px;
  height: 17px;
}

#mainOnly-wrapper {
  position:relative;
  float: right;

  top: -2px;
  z-index:2;

  height: 0;
  text-align:center;

  text-decoration: none;
}
#anime-title {
  float: left;
}
.tier {
  width: 120px;
}
