<div class="col-md-12 no-gutter table-responsive">

  <table class="table table-striped" id="rolesTable">
    <thead>
      <tr>
        <th class="text-center">
          <a href="javascript:void(0)" (click)="sort('_id')" id="anime-id" title="sort by recency">▴⏰▾</a>
        </th>
        <th>
          <a href="javascript:void(0)" (click)="sort('titleText')" id="anime-title">
            ▴title▾</a>
          <a id="mainOnly-wrapper">
            <input type="checkbox" #mainOnly (ngModelChange)="onMainOnlyChange(mainOnly.value)"
                   class="form-control" id="mainOnly">
            <label for="mainOnly" class="checkbox-inline">
              main only
            </label>
          </a>
        </th>
        <th class="text-right">
          <a href="javascript:void(0)" (click)="sort('mainCharacter')">
            ▴character▾</a>
        </th>
        <th class="text-center tier">
          <b>role tier</b>
        </th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let anime of animeSvc.displayAnime$ | async | orderBy:orderByField:ascending; let idx=index">
        <td class="text-center">{{idx + 1}}</td>
        <td>
          <a [href]="anime.link" target="_blank">
            <img *ngIf="anime.pic" [src]="anime.thumb" class="show-pic"/> <!--fallback-->
          </a>
          &nbsp;
          <a [href]="anime.link" target="_blank">{{anime.titleText}}</a>
        </td>
        <td class="text-right">
          {{anime.mainCharacter}}
        </td>
        <td class="text-center" [attr.data-main]="anime.main">
          {{anime.main ? 'main':'supporting'}}
        </td>
      </tr>
    </tbody>
  </table>
</div>
