<div class="col-md-12 no-gutter table-responsive">
  <table class="table table-condensed table-striped" id="rolesTable">
    <thead>
    <tr>
      <td></td>
      <td colspan="2" class="text-center">
        <a id="mainOnly-wrapper">
          <input type="checkbox" (ngModelChange)="onMainOnlyChange($event)"
                 class="form-control" id="mainOnly" [(ngModel)]="mainOnly">
          <label for="mainOnly" class="checkbox-inline">
            main only
          </label>
        </a>
      </td>
      <td></td>
    </tr>
      <tr>
        <th class="text-center">
          <a href="javascript:void(0)" (click)="sort('_id')" id="anime-id" title="sort by recency">▴#▾</a>
        </th>
        <th>
          <a href="javascript:void(0)" (click)="sort('title')" id="anime-title">
            ▴title▾</a>

        </th>
        <th class="text-right">
          <a href="javascript:void(0)" (click)="sort('mainCharacter')">
            ▴character▾</a>
        </th>
        <th class="text-center tier">
          <a href="javascript:void(0)" (click)="tierOrder=!tierOrder">
            ▴role tier▾</a>
        </th>
      </tr>
    </thead>

    <tbody *ngFor="let tier of output | orderBy:['type']:!tierOrder">
      <tr *ngFor="let anime of tier.list | orderBy:[orderByField]:ascending; let idx=index">
        <td class="text-center">{{idx + 1}}</td>
        <td class="anime-title">
          <a [href]="anime.link" target="_blank">
            <img class="anime-thumb" *ngIf="anime.thumb" [src]="anime.thumb" /> <!--TODO fallback-->
          </a>
          &nbsp;
          <a [href]="anime.link" target="_blank">{{anime.title}}</a>
        </td>
        <td class="text-right characters">
          <div [class.more-chars]="anime.characters.length > 1">{{anime.mainCharacter}}</div>
          <div class="char-list">
            <div *ngFor="let char of anime.characters" [class.main]="char.main">{{char.name}}</div>
          </div>
        </td>
        <td class="text-center" [class.main]="anime.main">
          {{anime.main ? 'main':'supporting'}}
        </td>
      </tr>
    </tbody>
  </table>
</div>
