input:checked + label {
  font-weight: bold;
}

.main {
  font-weight: bold;
}

.table>tbody>tr>td {
  vertical-align: inherit;
}

label {
  top: 1px;
  vertical-align: super;
  padding-left: 0;
}

#mainOnly {
  display: inline-block;

  width: 17px;
  height: 17px;
}

#mainOnly-wrapper {
  position:relative;
  float: right;

  top: -2px;
  z-index:2;

  height: 0;
  text-align:center;

  text-decoration: none;
}
#anime-title {
  float: left;
}
.tier {
  width: 120px;
}

.characters {
  position: relative;
}

.char-list {
  position: absolute;
  right: 0;
  z-index: 1;
  display: none;

  background: white;
  padding: 0.5rem 1rem;
  border: 1px solid lightgrey;
  box-shadow: 1px 1px 2px 0;
  border-radius: 3px;
}

.more-chars {
  text-decoration: underline;
  cursor: pointer;
}
.more-chars::after {
  content: ' *';
}
.more-chars:hover + .char-list {
  display: block;
}
