<div id="magazines-spinner" *ngIf="magazineSvc.pending">
  <msl-spinner size="calc(15vmin)" [setStatus]="true"></msl-spinner>
</div>

<div id="magazines" *ngIf="!magazineSvc.pending">
  <div class="magazine" *ngFor="let m of list" [id]="m.magazine.replace(' ', '_').toLowerCase()">
    <div class="type">
      <img [src]="m.logo" [title]="m.magazine" [alt]="m.magazine"/>
    </div>
    <div class="contents">
      <div class="issue-row" *ngFor="let i of m.issues">
        <div class="issue">{{i.issue}}</div>
        <div class="seiyuus">
          <span class="seiyuu" *ngFor="let s of i.seiyuus" (click)="addSeiyuu(s)" [class.available]="isAvailable(s)"
                [class.selected]="isSelected(s)">{{s}}</span>
        </div>
      </div>
    </div>
  </div>

</div>
