<div id="magazines-spinner" *ngIf="magazineSvc.pending">
  <msl-spinner size="calc(15vmin)"></msl-spinner>
</div>

<div id="magazines" *ngIf="!magazineSvc.pending">
  <div class="magazine" *ngFor="let m of magazineSvc.display$ | async" [id]="m.magazine.replace(' ', '_').toLowerCase()">
    <div class="type">
      <img src="assets/{{m.logo}}.png" [title]="m.magazine" [alt]="m.magazine"/>
    </div>
    <div class="contents">
      <div class="issue-row" *ngFor="let i of m.issues">
        <div class="issue">{{i.issue}}</div>
        <div class="seiyuus">
          <span class="seiyuu" *ngFor="let s of i.seiyuus" [class.selected]="isSelected(s)">{{s}}</span>
        </div>
      </div>
    </div>
  </div>

</div>
