<div class="btn-group btn-group-justified">
  <a class="btn btn-default" [routerLinkActiveOptions]="ids" routerLinkActive="btn-success"
     [routerLink]="['', 'anime', ids]"><b> anime </b></a>
  <a class="btn btn-default" [routerLinkActiveOptions]="ids" routerLinkActive="btn-success"
     [routerLink]="['', 'magazines', ids]"><b> magazines </b></a>
  <a class="btn btn-default" [routerLinkActiveOptions]="ids" routerLinkActive="btn-success"
     [routerLink]="['', 'photos', ids]"><b> photos </b></a>
</div>
