#toggleChart {
  display: none;
}

.toggle-chart {
  margin-top: 0.25rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

:checked + .toggle-chart {
  background-color: #e6e6e6;
  margin-bottom: 3rem;
}

@media (max-width: 768px) {
  :checked + .toggle-chart {
    margin-bottom: 0.25rem;
  }
}
