<div id="header" class="col-sm-12">
  <form class="col-sm-3 col-md-3 col-lg-2 no-gutter">
    <div class="form-group  has-feedback">
      <input type="text" id="search-query" placeholder="1 seiyuu name" [(ngModel)]="searchQuery"
             [disabled]="disable()" autofocus (ngModelChange)="inputChange(search)"
             class="form-control input-md text-center" name="searchQuery"
             #search [attr.list]="searchQuery.length > 1 ? 'vanames':undefined">
      <i class="glyphicon glyphicon-search form-control-feedback" id="search-icon"></i>
    </div>
  </form>
  <datalist id="vanames">
    <option value="{{seiyuu.name}} ({{seiyuu.count}})" *ngFor="let seiyuu of seiyuuSvc.basicList$ | async"></option>
  </datalist>

  <div class="col-sm-9 col-md-9 col-lg-10 no-gutter">
    <div class="col-lg-9 col-md-8 col-sm-7 no-gutter">
      <div class="sp sp-circle" id="spinner" *ngIf="restSvc.pending"></div>
      <a id="status-hint"
         title="You can still look up any seiyuu regardless of cached records #">
        <pre id="status">{{status}}</pre>
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-5 text-center no-gutter">
      <a href="#" title="search"><img src="assets/msl-logo-200-white.png" alt="search" id="msl-logo"></a>
    </div>
  </div>
</div>
