<div id="header" class="col-sm-12 no-gutter">
  <form class="col-lg-2 col-sm-3">
    <div class="form-group  has-feedback">
      <input type="text" id="search-query" placeholder="1 seiyuu name" (click)="selectAll()"
             [disabled]="disable()" autofocus  #search [(ngModel)]="searchQuery"
             class="form-control input-md text-center" name="searchQuery"
             [attr.list]="searchQuery.length > 1 ? 'vanames':undefined"
             maxlength="30">
      <i class="glyphicon glyphicon-search form-control-feedback" id="search-icon"></i>
    </div>
  </form>
  <datalist id="vanames">
    <option [value]="name" *ngFor="let name of name$ | async | uniq"></option>
  </datalist>

  <div class="col-lg-7 col-md-6 col-sm-5 no-gutter">
    <msl-spinner float="left" *ngIf="seiyuuSvc.pending"></msl-spinner>
    <div id="status" [ngClass]="{error: (status$ | async).isError}"
      title="You can look up any seiyuu regardless of the cached records #">{{(status$ | async).data}}</div>
  </div>
  <div class="col-md-3 col-sm-4 text-center no-gutter">
    <a href="#" title="search"><img src="assets/msl-logo-200-white.png" alt="reset" id="msl-logo"></a>
  </div>
</div>
