#msl-logo {
  position: relative;
  top: 2px;

  margin-right: -1rem;
  vertical-align: text-bottom;
}

#search-query {
  font-size: 16px;

  padding-right: 1rem;
}

#header {
  background-color: #0a6;

  padding-top: 5px;

  border-radius: 0 0 6px 6px;
}

#status {
  text-align: center;
  border: 0;

  background-color: #0a6;
  color: #dfe;

  margin: 0;
  padding: 0.55rem;
  padding-top: 0.56rem;

  font-size: 16px;
  font-family: inherit;

  overflow: visible;
}
#status.error {
  background: #c46;
  color: #fed;
}

#status-hint {
  cursor: help;
  text-decoration: none;
}

.form-group {
  margin-bottom: 6px;
}

#search-icon {
  opacity: 0.5;
}

#header {
  margin-bottom: 8px;
}
form,.header {
  padding: 0 6px;
}
