<div class="container">
  <div class="row">
    <msl-header></msl-header>
  </div>
  <div class="row">
    <div class="col-md-2 col-sm-3">
      <msl-seiyuu-list></msl-seiyuu-list>
    </div>
    <div class="col-md-10 col-sm-9" id="router-wrapper">
      <div class="row">
        <msl-tabs></msl-tabs>
      </div>
      <div class="row">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  <div class="row">
    <msl-footer></msl-footer>
  </div>
</div>
<msl-ranking></msl-ranking>
