<div class="container">
  <div class="row">
    <msl-header></msl-header>
  </div>
  <div class="row">
    <div class="col-sm-3 col-md-3 col-lg-2">
      <msl-seiyuu-list></msl-seiyuu-list>
    </div>
    <div class="col-sm-9 col-md-9 col-lg-10" id="router-wrapper">
      <div class="row">
        <msl-tabs></msl-tabs>
      </div>
      <div class="row">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  <div class="row" id="footer-wrapper">
    <msl-footer></msl-footer>
  </div>
</div>
