<div class="seiyuu col-lg-12 col-md-12 col-sm-12 col-xs-6 well well-sm" [ngClass]="{l: seiyuu.l, c: seiyuu.c}" (mouseenter)="select($event)">

  <a class="remove close" (click)="removeVA($event)">&times;</a>

  <table class="text-center">
    <tbody *ngIf="!seiyuu.namesakes">
      <tr>
        <td colspan=2>
          <h4>
            <a href="http://{{theSite+'/people/'+seiyuu._id}}" class="name" target="_blank">
              <b>{{seiyuu.name}}</b>
            </a>
          </h4>
        </td>
      </tr>
      <tr>
        <td colspan=2>
          <msl-spinner size="5rem" *ngIf="seiyuu.pending"></msl-spinner>
          <img class="vapic img-rounded" src="//{{theSite+seiyuu.pic}}" *ngIf="!seiyuu.pending"/>
        </td>
      </tr>
      <tr>
        <td><b>titles</b>: {{seiyuu.count}}</td>
        <td>&nbsp;<b>views</b>: {{seiyuu.hits}}</td>
      </tr>
    </tbody>

    <tbody *ngIf="seiyuu.namesakes" class="namesakes">
      <tr><td colspan=2>{{seiyuu.namesakes.length}} matches found</td></tr>
      <tr><td colspan=2>choose one: </td></tr>
      <tr *ngFor="let namesake of seiyuu.namesakes">
        <td colspan=2><button>{{namesake}}</button></td>
      </tr>
    </tbody>
  </table>

</div>
