<div class="seiyuu col-lg-12 col-md-12 col-sm-12 col-xs-6 well well-sm"
     [ngClass]="{l: seiyuu.l, c: seiyuu.c, namesake: seiyuu.namesakes}" (mouseenter)="select($event)">

  <a class="remove close" (click)="remove()">&times;</a>

  <table *ngIf="!seiyuu.namesakes" class="text-center">
    <tbody>
      <tr>
        <td colspan=2>
          <h4>
            <a [href]="seiyuu.link" target="_blank">
              <b>{{seiyuu.name}}</b>
            </a>
          </h4>
        </td>
      </tr>
      <tr>
        <td colspan=2>
          <msl-spinner size="5rem" *ngIf="seiyuu.pending"></msl-spinner>
          <img class="vapic img-rounded" [src]="seiyuu.photo" *ngIf="!seiyuu.pending"/>
        </td>
      </tr>
      <tr>
        <td><b>titles</b>: {{seiyuu.count}}</td>
        <td>&nbsp;<b>views</b>: {{seiyuu.hits}}</td>
      </tr>
    </tbody>
  </table>

  <div class="row" *ngIf="seiyuu.namesakes">
    <div class="col-sm-12"><h4><b>{{seiyuu.name}}</b></h4></div>
    <div class="col-sm-12">{{seiyuu.namesakes.length}} matches found</div>
    <div class="col-sm-12">choose one: </div>
    <div class="col-sm-12 btn-group btn-group-vertical">
      <div class="col-sm-12 btn btn-default" *ngFor="let namesake of seiyuu.namesakes" (click)="pick(namesake._id)">
        <msl-spinner size="28px" float="left" *ngIf="namesake.pending"></msl-spinner>
        <a [href]="namesake.link" target="_blank">
          <img class="small-thumb" *ngIf="namesake.photo" [src]="namesake.thumb"/>
        </a>
        <div class="text-right"><b>titles:</b> {{namesake.count}}</div>
      </div>
    </div>
  </div>

</div>
