.cell > a {
  display: flex;
  max-width: 32px;
  height: 32px;
  overflow: hidden;

  align-items: center;

  border: 4px solid #2e51a2;
  border-radius: 16px;
  background: white;
  font-size: 0.8em;

  white-space: nowrap;
  transition: max-width 0.25s;
}

.cell > a:hover {
  max-width: 100%;
  padding-right: 0.5rem;

  transition-duration: 0.5s;
  transition-delay: 0.3s;
}

.cell > a + a {
  margin-top: 16px;
}

.top {
  text-align: center;
  padding-top: 0.5rem;
}

.header {
  font-weight: bold;
}

.row {
  display: flex;
  padding-left: 1rem;
}

.cell {
  display: flex;
  height: 214px;
  overflow: hidden;

  justify-content: space-around;
  align-content: space-evenly;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;

  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
  padding: 0.7rem 1.4rem;
}


.side div {
  display: flex;
  height: 214px;
  justify-content: center;

  padding-left: 0.25rem;

  writing-mode: vertical-rl;
  text-orientation: sideways;
  transform: scale(-1,-1);
}

.anime-thumb {
  display: block;
  height: 32px;
  min-width: 28px;
}

@media (max-width: 768px) {
  .cell {
    padding: 0.5rem 0;
  }
}
