.no-gutter {
  padding-right: 0!important;
  padding-left: 0!important;
}
.sp-circle {
  border: 3px rgba(0, 0, 0, 0.25) solid;
  border-top: 3px white solid;
  border-radius: 50%;

  animation: spCircRot 1s infinite linear;
}
.sp {
  position: relative;
  top: 3px;
  float:left;

  width: 28px;
  height: 28px;

  display: inline-block;
}
@keyframes spCircRot {
  from { transform: rotate(0deg); }
  to { transform: rotate(359deg); }
}
