<div id="pics" class="row">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-12 text-center">
        <div id="photos-spinner" *ngIf="photoSvc.pending">
          <msl-spinner size="calc(15vmin)"></msl-spinner>
        </div>
        <div id="thumbContainer" [innerHTML]="photoPage?.html" *ngIf="!photoSvc.pending && photoPage"></div>
      </div>
    </div>
    <div id="nav" class="row">
      <div class="btn-group btn-group-justified" *ngIf="photoPage">
        <button id="prev" class="btn btn-default btn-block glyphicon glyphicon-arrow-left"
           [disabled]="photoSvc.pending || !photoPage.prev" (click)="photoSvc.prevPage()"> </button>
        <span class="page">{{photoPage.pageNum}}</span>
        <button id="next" class="btn btn-default btn-block glyphicon"
           [disabled]="photoSvc.pending || !photoPage.next || photoSvc.pendingNext" (click)="photoSvc.nextPage()"
                [class.glyphicon-arrow-right]=!photoSvc.pendingNext
        ><msl-spinner *ngIf="photoSvc.pendingNext" size="16px"></msl-spinner></button>
      </div>
    </div>
  </div>
</div>
