#photos-spinner {
  margin-top: 20%;
  margin-bottom: 20%;
}

/deep/ .img-thumbnail {
  padding: 0!important;
}
/deep/ span.thumb {
  display:inline-block;
  width:  160px;
  height: 160px;

  text-align:center;
  margin:    2px;
}
/deep/ .thumb:before {
  display: inline-block;
  height: 100%;

  content: "";
  vertical-align: middle;
}

#thumbContainer {
  min-height: 660px;

  padding-top:   5px;
  margin-bottom: 4px;

  text-align:center;
}

.btn-block+.btn-block {
  margin-top: 0;
}

#nav button {
  width: 46%;
}

/deep/ .more div {
  margin-top: -71.5%;
}

.page {
  display: inline-block;
  text-align: center;
  width: 8%;
}
