img.vapic {
  width: auto;

  max-height: 160px;
  max-width: 180px;
}

table.text-center {
  margin: auto;
}

.well {
  padding: 0;

  margin-bottom: 6px;
}
.well:not(.namesake).hover{
  border: 1px black solid;
}

.close {
  position: absolute;
  right: 4px;
  z-index: 2;
}

.l:not(.hover) {
  border-color: magenta!important;
}

.c:not(.hover) {
  border-color: #ba6;
}
.c {
  color: #740;
}

h4 {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 16px;
}

.namesake {
  font-weight: bold;
  text-align: center;
}

.btn-group {
  width: 100%;
  margin-top: 8px;
}

.btn {
  height: 46px;
  padding: 6px 18px;
  line-height: 32px;
}
.btn a {
  float: left;
}
.btn a:hover {
  outline: 1px solid blue;
}

.small-thumb {
  height: 32px;
}

@media (max-width: 768px) {
  .seiyuu {
    width: 49%!important;
    min-width: 145px;
  }

  :host:nth-child(even) .seiyuu {
    float: right!important;
  }
}
