<div class="ranking-curtain" (click)="close($event)" *ngIf="visible">
  <div class="ranking-container">
    <div class="remove"><a class="remove close" (click)="visible=false">&times;</a></div>
    <table class="ranking table table-striped">
      <caption>Seiyuu popularity rankings</caption>
      <colgroup>
        <col width="40%">
        <col width="12%">
        <col width="12%">
        <col width="36%">
      </colgroup>
      <thead>
      <tr>
        <th>
          <msl-sort-link default>name</msl-sort-link>
        </th>
        <th>
          <msl-sort-link field="count">anime</msl-sort-link>
        </th>
        <th>
          <msl-sort-link field="hits">views</msl-sort-link>
        </th>
        <th>
          <msl-sort-link>accessed</msl-sort-link>
        </th>
      </tr>
      </thead>
    </table>
    <div class="table-container" [class.has-scroll]="hasScroll">
      <table class="ranking table table-striped" id="rankingTable" #rankingTable>
        <colgroup>
          <col width="40%">
          <col width="12%">
          <col width="12%">
          <col width="35%">
        </colgroup>
        <tbody>
        <tr *ngFor="let seiyuu of seiyuuSvc.totalList$ | async | orderBy:[sorter.orderByField]:sorter.ascending">
          <td><a [href]="seiyuu.link" target="_blank">{{seiyuu.name}}</a></td>
          <td>{{seiyuu.count}}</td>
          <td>{{seiyuu.hits}}</td>
          <td [attr.data-date]="seiyuu.accessed.valueOf()">{{seiyuu.accessed | date:'dd.MM.yyyy'}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
