input:checked + label {
  font-weight: bold;
}

.main {
  font-weight: bold;
}

.table {
  margin-top: -0.9rem;
  margin-bottom: 10px;
}

.table > tbody > tr > td {
  vertical-align: inherit;
}

tr th:first-child,
tr td:first-child {
  max-width: 32px;
  width: 32px;
}

.anime-title {
  white-space: initial!important;
  min-width: 150px;
}
.anime-thumb {
  max-width: 23px;
}

label {
  top: 1px;
  vertical-align: super;
  padding-left: 0;
}

#mainOnly {
  display: inline-block;

  width: 16px;
  height: 16px;
}

#mainOnly-wrapper {
  display: block;
  z-index: 2;
  height: 0;
  margin-top: 0.8rem;
  margin-bottom: -0.8rem;
  text-decoration: none;
}
#anime-title {
  float: left;
}
.tier {
  width: 120px;
}

.characters {
  position: relative;
}

.char-list {
  position: absolute;
  right: -0.2rem;
  z-index: 1;
  display: none;

  background: white;
  padding: 0.5rem 1rem;
  border: 1px solid lightgrey;
  box-shadow: 1px 1px 2px 0;
  border-radius: 3px;
}

.more-chars {
  text-decoration: underline;
  cursor: pointer;
}
.more-chars::after {
  content: ' *';
  margin-right: -0.5rem;
}
.more-chars:hover + .char-list {
  display: block;
}
