input:checked + label {
  font-weight: bold;
}

.main {
  font-weight: bold;
}

table {
  margin-bottom: 0;
}

table.header {
  margin-top: -0.9rem;
}

.table > tbody > tr > td {
  vertical-align: inherit;
}

tr th:first-child,
tr td:first-child {
  max-width: 32px;
  width: 32px;
}

.anime-title {
  white-space: initial!important;
  min-width: 150px;
}
.anime-thumb {
  max-width: 23px;
}

label {
  top: 1px;
  vertical-align: super;
  padding-left: 0;
}

#mainOnly {
  display: inline-block;

  width: 16px;
  height: 16px;
}

#mainOnly-wrapper {
  display: block;
  z-index: 2;
  height: 0;
  margin-top: 0.8rem;
  margin-bottom: -0.8rem;
  text-decoration: none;
}
#anime-title {
  float: left;
}
.tier {
  min-width: 90px;
}

th.tier {
  white-space: nowrap;
}

.characters {
  position: relative;
}

.char-list {
  z-index: 1;
  display: none;

  background: white;
  padding: 0.5rem 1rem;
  border: 1px solid lightgrey;
  box-shadow: 1px 1px 2px 0;
  border-radius: 3px;
}

.more-chars {
  text-decoration: underline;
  cursor: pointer;
}
.more-chars::after {
  content: '...';
  margin-right: -0.5rem;
}
.more-chars:hover + .char-list {
  display: block;
}

.locked {
  opacity: 0.65;
  pointer-events: none;
}

#rolesHeader {
  min-width: 360px;
}

.wrapper {
  max-height: calc(100vh - 180px);
  overflow-y: auto;
  margin-right: -6.5px;
  margin-bottom: 0.5rem;
  min-height: 0.5rem;
}

.table-responsive {
  overflow-x: hidden;
}

@media (max-width: 768px) {
  .wrapper {
    max-height: calc(100vh - 520px);
    min-height: 14rem;
  }
}
