<div class="col-md-12 no-gutter table-responsive">
  <table class="table table-fixed table-condensed header table-striped" id="rolesHeader" *ngIf="(seiyuuSvc.displayList$ | async)?.length">
    <colgroup>
      <col width="1%">
      <col width="70%">
      <col width="25%">
      <col width="90">
    </colgroup>
    <thead>
    <tr>
      <td></td>
      <td colspan="2" class="text-center">
        <a id="mainOnly-wrapper">
          <input type="checkbox" (ngModelChange)="onMainOnlyChange($event)"
                 class="form-control" id="mainOnly" [(ngModel)]="mainOnly">
          <label for="mainOnly" class="checkbox-inline">
            main only
          </label>
        </a>
      </td>
      <td></td>
    </tr>
      <tr>
        <th class="text-center">
          <msl-sort-link field="_id" default title="sort by recency">#</msl-sort-link>
        </th>
        <th>
          <msl-sort-link field="title" id="anime-title">anime</msl-sort-link>
        </th>
        <th class="text-right char">
          <msl-sort-link field="firstCharacter">character</msl-sort-link>
        </th>
        <th class="text-center tier" [class.locked]="mainOnly">
          <a href="javascript:void(0)" (click)="tierOrder=!tierOrder">role tier</a>
        </th>
      </tr>
    </thead>
  </table>
  <div class="wrapper">
    <table class="table table-fixed table-condensed table-striped" id="rolesTable">
      <colgroup>
        <col width="1%">
        <col width="70%">
        <col width="25%">
        <col width="90">
      </colgroup>
      <tbody *ngFor="let tier of output | orderBy:['type']:tierOrder" [id]="tier.type">
        <tr *ngFor="let anime of tier.list | orderBy:[sorter.orderByField]:sorter.ascending; let idx=index">
          <td class="text-center">{{idx + 1}}</td>
          <td class="anime-title">
            <a [href]="anime.link">
              <img class="anime-thumb" *ngIf="anime.thumb" [src]="anime.thumb" /> <!--TODO fallback-->
            </a>
            &nbsp;
            <a [href]="anime.link">{{anime.title}}</a>
          </td>
          <td class="text-right characters">
            <div [class.more-chars]="anime.characters.length > 1">{{anime.firstCharacter}}</div>
            <div class="char-list">
              <div *ngFor="let char of anime.characters" [class.main]="char.main">{{char.name}}</div>
            </div>
          </td>
          <td class="text-center tier" [class.main]="anime.main">
            {{anime.main ? 'main':'supporting'}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
